
.pagination{
    align-items: center;
    justify-content: center;
}
.form-control search{
    align-items: center;
    justify-content: center;
    width: 100px;
}

.modal{
    z-index: 10059;
    color: black;
}
body{
    background-color: rgba(128, 128, 128, 0.74);
}